<template>
  <div class="page home" id="home">
    <h1>WEBSITE</h1>
    <div class="row">
      <router-link :to="{ name: 'Left'}">
        <div class="nav left">
          <h2>← Left</h2>
        </div>
      </router-link>
      <router-link :to="{ name: 'Right'}">
        <div class="nav right">
          <h2>Right →</h2>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>
