<template>
  <div class="parent page left" id="left">
    <router-link :to="{ name: 'Home'}" id="back">
      <div class="nav home">
        <h2>back →</h2>
      </div>
    </router-link>
    <h1>LEFT</h1>
    <div class="row">

      <router-link :to="{ name: 'LeftA'}">
        <div class="origin" id="a">
          <h2>A</h2>
        </div>
      </router-link>

      <router-link :to="{ name: 'LeftB'}">
        <div class="origin" id="b">
          <h2>B</h2>
        </div>
      </router-link>

      <router-link :to="{ name: 'LeftC'}">
        <div class="origin" id="c">
          <h2>C</h2>
        </div>
      </router-link>

    </div>
  </div>
</template>
<style scoped>
  #back {
    align-self: flex-end;

  }
</style>
