<template>
  <div class="parent page right" id="right">
    <router-link :to="{ name: 'Home'}" id="back">
      <div class="nav home">
        <h2>← back</h2>
      </div>
    </router-link>
    <h1>RIGHT</h1>
    <div class="row">

      <router-link :to="{ name: 'RightA'}">
        <div class="origin" id="a">
          <h2>A</h2>
        </div>
      </router-link>

      <router-link :to="{ name: 'RightB'}">
        <div class="origin" id="b">
          <h2>B</h2>
        </div>
      </router-link>

      <router-link :to="{ name: 'RightC'}">
        <div class="origin" id="c">
          <h2>C</h2>
        </div>
      </router-link>

    </div>
  </div>
</template>
<style scoped>
  #back {
    align-self: flex-start;
  }
</style>
