<template>
  <transition
    :name="transitionName"
    :mode="transitionMode"
    @before-enter="beforeEnter"
    @enter="enter"
    @before-leave="beforeLeave"
    @leave="leave"
    :css="false"
  >
    <slot></slot>
  </transition>
</template>

<script>
import BezierEasing from 'bezier-easing'
export default {
  name: 'TransitionPage',
  data () {
    return {
      transitionName: null,
      transitionMode: 'in-out',
      transitionDirection: null,
      transitionOriginFrom: null,
      transitionOriginTo: null,
      boundingBox: null,
      viewportWidth: null,
      viewportHeight: null,
      transformOffsets: {
        transformTranslate: [],
        transformScale: []
      },
      transformDefaults: {
        transformTranslate: [0, 0],
        transformScale: [1, 1]
      },
      animateTo: null,
      animateFrom: null,
      startTime: {},
      duration: 300,
      easing: BezierEasing(0.5, 0, 0.25, 1),
      transforms: []
    }
  },
  computed: {
    animateFromOffset () {
      const offsetTranslateX = this.animateTo.transformTranslate[0] * -1
      return {
        transformTranslate: [offsetTranslateX, 0]
      }
    },
    animateToOffset () {
      const offsetTranslateX = this.animateFrom.transformTranslate[0] * -1
      return {
        transformTranslate: [offsetTranslateX, 0]
      }
    }
  },
  created () {
    // whenever a route link is clicked, get the meta info for that route from '/src/router/index.js' and set it in data
    this.$router.beforeEach((to, from, next) => {
      from.meta.transitionName === 'expand' ? this.transitionName = 'contract' : this.transitionName = to.meta.transitionName
      this.transitionOriginFrom = from.meta.origin
      this.transitionOriginTo = to.meta.origin

      if (this.transitionName === 'slide') {
        this.transitionMode = ''
        this.duration = 500
        this.easing = BezierEasing(0.41, 0.4, 0.25, 1)
      } else { // transition 'expand' or 'contract'
        this.transitionMode = 'in-out'
        this.duration = 300
        this.easing = BezierEasing(0.5, 0, 0.25, 1)
      }
      if (to.meta.direction) {
        this.transitionDirection = to.meta.direction
      }
      if (!to.meta.direction) {
        from.meta.direction === 'right' ? this.transitionDirection = 'left' : this.transitionDirection = 'right'
      }
      next()
    })
  },
  methods: {
    beforeEnter (element) {
      // calculate start & end keyframes
      if (this.transitionName === 'contract') {
        // no animation required
        return
      }
      if (this.transitionName === 'expand') {
        console.log(this.transitionName + ':', element.id, 'before entering')
        this.getOriginBoundingBox(this.transitionOriginTo)
        this.getViewportDimensions()
        this.calculateTransformOffsets()
        // set keyframe values
        this.animateFrom = this.transformOffsets
        this.animateTo = this.transformDefaults
      }

      if (this.transitionName === 'slide') {
        console.log(this.transitionName + ':', element.id, 'before entering')
        this.getViewportDimensions()
        const translateX = this.transitionDirection === 'right' ? this.viewportWidth : this.viewportWidth * -1
        this.animateFrom = {
          transformTranslate: [translateX, 0]
        }
        this.animateTo = {
          transformTranslate: [0, 0]
        }
      }
    },
    enter (element, done) {
      // calculate and apply inbetween values
      console.log(element.id, 'entering')
      if (this.transitionName === 'slide') {
        const tick = () => { // main animation loop
          const progress = this.getProgress('enter')
          // the entering page's transform is offset 100vw from the leaving page
          const offset = true
          this.calculateCurrentValues(progress, offset)
          this.applyTransformValues(element)
          if (progress === 1) {
            console.log(this.transitionName + ':', element.id, 'entered')
            return done()
          }
          // if the end of this.duration hasn't been reached, run the loop again
          requestAnimationFrame(tick)
        }
        tick()
      }
      if (this.transitionName === 'contract') {
        // no animation required
        console.log(this.transitionName + ':', element.id, 'entered')
        return done()
      }
      if (this.transitionName === 'expand') {
        // main animation loop
        const tick = () => {
          // work out how far through the animation duration we are
          const progress = this.getProgress('expand')
          this.calculateCurrentValues(progress)
          this.applyTransformValues(element)
          if (progress === 1) {
            console.log(this.transitionName + ':', element.id, 'entered')
            return done()
          }
          // if we haven't reached the end of this.duration yet, run the loop again
          requestAnimationFrame(tick)
        }
        tick()
      }
    },
    beforeLeave (element) {
      if (this.transitionName === 'slide') {
        console.log(this.transitionName + ':', element.id, 'before leaving')
        // calculate start & end keyframes
        this.getViewportDimensions()
        const translateX = this.transitionDirection === 'left' ? this.viewportWidth : this.viewportWidth * -1
        this.animateFrom = {
          transformTranslate: [0, 0]
        }
        this.animateTo = {
          transformTranslate: [translateX, 0]
        }
      }
      if (this.transitionName === 'expand') {
        // no animation required
        return
      }
      if (this.transitionName === 'contract') {
        console.log('contract:', element.id, 'before leaving')
        this.getOriginBoundingBox(this.transitionOriginFrom)
        this.getViewportDimensions()
        this.calculateTransformOffsets()
        this.animateFrom = this.transformDefaults
        this.animateTo = this.transformOffsets
      }
    },
    leave (element, done) {
      console.log(element.id, 'leaving')
      if (this.transitionName === 'slide') {
        const tick = () => {
          const progress = this.getProgress('leave')
          this.calculateCurrentValues(progress)
          this.applyTransformValues(element)
          if (progress === 1) {
            console.log(this.transitionName + ':', element.id, 'left')
            return done()
          }
          requestAnimationFrame(tick)
        }
        tick()
      }
      if (this.transitionName === 'expand') {
        console.log(this.transitionName + ':', element.id, 'left')
        return done()
      }
      if (this.transitionName === 'contract') {
        const tick = () => {
          const progress = this.getProgress('contract')
          this.calculateCurrentValues(progress)
          this.applyTransformValues(element)
          if (progress === 1) {
            console.log(this.transitionName + ':', element.id, 'left')
            return done()
          }
          requestAnimationFrame(tick)
        }
        tick()
      }
    },

    // setup functions used in the beforeEnter & beforeLeave hooks
    getOriginBoundingBox (origin) {
      this.boundingBox = document.documentElement.querySelector(origin).getBoundingClientRect()
    },
    getViewportDimensions () {
      this.viewportWidth = document.documentElement.clientWidth
      this.viewportHeight = document.documentElement.clientHeight
    },
    calculateTransformOffsets () {
      const { width: originWidth, height: originHeight, left: originLeft, top: originTop } = this.boundingBox
      const translateXOffset = originLeft - this.viewportWidth / 2 + originWidth / 2
      const translateYOffset = originTop + originHeight / 2 - this.viewportHeight / 2
      const scaleXOffset = originWidth / this.viewportWidth
      const scaleYOffset = originHeight / this.viewportHeight

      this.transformOffsets = {
        transformTranslate: [translateXOffset, translateYOffset],
        transformScale: [scaleXOffset, scaleYOffset]
      }
    },
    // functions to calculate and apply animation, which are each called by the main requestAnimationFrame 'tick', within the 'enter' and 'leave' hooks
    trackTime (action) {
      const now = performance.now()
      if (this.startTime[action] == null) {
        this.startTime[action] = now
      }
      const elapsed = now - this.startTime[action]
      if (this.duration != null && this.duration <= elapsed) {
        this.startTime[action] = null
      }
      return elapsed
    },
    getProgress (action) {
      return this.duration > 0 ? Math.min(this.trackTime(action) / this.duration, 1) : 1
    },
    calculateCurrentValues (progress, offset) {
      const attributeNames = Object.keys(this.animateTo)
      for (let i = 0; i < attributeNames.length; i++) {
        const attribute = attributeNames[i]
        let fromValue = this.animateFrom[attribute]
        let toValue = this.animateTo[attribute]
        if (offset) {
          fromValue = this.animateFromOffset[attribute]
          toValue = this.animateToOffset[attribute]
        }
        const currentValue = []
        // calculate and apply new value
        for (let j = 0; j < fromValue.length; j++) {
          // x then y values are calculated and pushed into an array
          currentValue.push(fromValue[j] + (toValue[j] - fromValue[j]) * this.easing(progress))
        }
        if (attribute === 'transformScale') {
          // format to the correct CSS syntax
          const newScale = currentValue.join(', ')
          // append to 'transforms' array
          this.appendTransformValue('scale', newScale)
        }
        if (attribute === 'transformTranslate') {
          const newTranslate = `${currentValue[0]}px, ${currentValue[1]}px`
          this.appendTransformValue('translate', newTranslate)
        }
      }
    },
    appendTransformValue (attribute, currentValue) {
      this.transforms.push(attribute + '(' + currentValue + ')')
    },
    applyTransformValues (element) {
      const combinedTransforms = this.transforms.join(' ')
      this.transforms = []
      element.style.transform = combinedTransforms
    }
  }
}
</script>
