<template>
  <div id="app">
    <transition-page>
      <router-view/>
    </transition-page>
  </div>
</template>

<script>
import TransitionPage from '@/transitions/TransitionPage'
export default {
  name: 'App',
  components: {
    TransitionPage
  }
}
</script>

<style>
:root {
  --text-color: hsl(220, 15%, 32%);
  --text-color-light: hsl(153, 60%, 95%);
  --left-color: hsl(8, 60%, 73%);
  --left-color-tint: hsl(8, 60%, 90%);
  --home-color: hsl(220, 20%, 42%);
  --right-color: hsl(24, 90%, 76%);
  --right-color-tint: hsl(24, 90%, 94%);
}
  body {
    background: var(--home-color);
    color: var(--text-color);
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .parent {
    z-index: 0;
  }
  .child {
    z-index: 1;
  }
  .child h1 { font-size: 8rem; }
  .page {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
  .row {
    display: flex;
    width: 90vw;
    height: 60vh;
    align-items: center;
    justify-content: space-between;
  }
  .home .row {
    width: 100vw;
    height: auto;
  }

  a {
    color: var(--text-color);
    text-decoration: none;
    outline: 0;
  }
  a:visited { color: var(--text-color); }
  h2 { pointer-events: none; }
  .nav > h2 {
    margin: 0;
    padding: 0;
  }
  .nav {
    font-size: 0.6rem;
    padding: 1.3rem 1rem;
  }
  .origin {
    width: 6rem;
    height: 6rem;
    border-radius: 1px;
  }
  @media (min-width: 576px) {
    .origin {
      width: 10rem;
      height: 10rem;
    }
  }

  .right {
    background: var(--right-color);
  }
  .right .origin, .right.child {
    background: var(--right-color-tint);
  }
  .left {
    background: var(--left-color);
  }
  .left .origin, .left.child {
    background: var(--left-color-tint);
  }
  .home {
    color: var(--text-color-light);
    background: var(--home-color);
    justify-content: flex-start;
  }
</style>
